<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show</title>
    <link rel="stylesheet" href="/show.css">
</head>
<body>
    <div class="post-container">
        <span class="post-id">Post ID: <%= post.id %></span>
        <h1 class="username">@<%= post.username %></h1>
        <p class="post-content"><%= post.content %></p>
    </div>
</body>

</html>